<% content_for :title do %>
	Admin index page
<% end %>
<div id="admin_index_page">

<table>
  <tr>
    <th>Title</th>
  <tr>
  <% @results.each do |result| %>
    <tr>
      <th> <a href="/admin/edit?id=<%= result['id'] %>" ><%= result['title'] %> </a> </th>
    </tr>
  <% end %>
      

</table>



</div>
