<% content_for :title do %>
  Explore Categories
<% end %>

<div id="category_explore">

  <div id="top_level_categories">
    <h2>Categories</h2>
    <ul>
      <% @categories.each do |cat| %>
        <li>
          <h3><a href="/cats/<%= cat["id"] %>"><%= cat["title"] %></a></h3>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="sub-categories">
    <h1><%= @category["title"] %></h1>
    <p><%= @category["blurb"] %></p>

    <div id="search_input_area" class="panel">
      <h2>I want to find out:</h2>
      <input name="query" id="query" />
      <input class="submit" type="submit" value="Search" />
    </div>

  </div>

</div>