<div class="categories">

	<% @categories.each do |cat| %>
		<div class="category">
			<h3><a href="#"><%= cat[:title] %></a></h3>
			<p><%= cat[:blurb] %></p>
			<ul>
				<li><a href="#">How do I get started?</a></li>
				<li><a href="#">What are my options?</a></li>
				<li><a href="#">Future proof solutionsi.</a></li>
			</ul>
		</div>
	<% end %>

</div>
