<% content_for :title do %>
	Look what we found!
<% end %>
<div id="no_results">

	<h1>Sorry.</h1>

	<p>We couldn't find anything related to that particular search. Please try searching again with a different question.</p>

	<p>Alternatively, browse our categories below.</p>

	<%= erb :popular_topics %>

</div>