<% content_for :title do %>
	Single entity (result)
<% end %>
<div id="result_page">
	<h1>Content title</h1>

	<div class="content">
		<!-- Fed in from somewhere -->
		<!-- [stub data] -->

		<p>Blah'ing is not so easy for smaller organisations. Here are a few effective ways to blah:</p>
		<ul>
			<li>Spend less on Blah 1.0</li>
			<li>Teach your communications staff about the concept behind Blah</li>
			<li>We suggest using Blah 3.0 Beta.</li>
		</ul>
	</div>

</div>