
/************************/
/******** GENERIC *******/
/************************/

@-webkit-keyframes fadeIn {
	0% { -webkit-transform: translateY(-100px); opacity: 0; }
	100% { -webkit-transform: translateY(0); opacity: .999; }
}

@-moz-keyframes fadeIn {
	0% { -moz-transform: translateY(-100px); opacity: 0; }
	100% { -moz-transform: translateY(0); opacity: .999; }
}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	color: #111;
	font-size: .8em;
	font-family: sans-serif;
	-webkit-animation: fadeIn .6s;
	-moz-animation: fadeIn .6s;
}

body, ul, ol, li, img, form, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: none;
	font-weight: normal;
}

a { color: #000; }
a:hover, a:focus { text-decoration: underline; color: #8FC63F;  }

.panel {
	padding: 20px;
	margin: 10px 0;
	background: #EEE;
}

table, tr, td, th
{
border-collapse:collapse;
border: 1px solid black;
}

.panel h2 {
	margin: 0;
	padding: 5px 0 10px;
}


/************************/
/******** MAIN **********/
/************************/

#main {
	background: #DDD;
	width: 960px;
	margin: 20px auto;
}

#head {
	border-bottom: 3px solid #CCC;
	height: 50px;
	background: #8FC63F url(/img/ctt_logo.png) no-repeat;
	overflow: hidden;
	position: relative;
}

#logo {
	display: block;
	font-size: 4em;
	font-weight: 700;
	text-align: right;
	line-height: 50px;
	position: relative;
	color: #E8F2D6;
	text-decoration: none;
}

#introduction {
	font-size: 1.3em;
	background: #DDD;	
}

/************************/
/******* MAIN FORM ******/
/************************/

#who_are_you {
	overflow: hidden;
	border: 2px solid #8FC63F;
}

form .slider {
	width: 300px;
	margin: 10px 0 20px;
	position: relative;
	font-size: 1.4em;
	float: left;
}

form .slider .marker {
	width: 100px;
	position: absolute;
	top: 17px;
	color: #000;
	font-size: .6em;
}

form .ui-slider-horizontal .ui-slider-handle {
	border-radius: 10px;
	background: #8FC63F;
}

@-webkit-keyframes slideLeft {
	0% { -webkit-transform: translateX(200px); opacity: 0; }
	100% { -webkit-transform: translateX(0); opacity: .999; }
}

@-moz-keyframes slideLeft {
	0% { -moz-transform: translateX(200px); opacity: 0; }
	100% { -moz-transform: translateX(0); opacity: .999; }
}

form .ui-slider-horizontal .ui-slider-handle {
	border-radius: 10px;
	background: #8FC63F;
	-webkit-transform: translateX(200px);
	-moz-transform: translateX(200px);
	opacity: 0;
	-webkit-animation: slideLeft 1s .5s forwards;
	-moz-animation: slideLeft 1s .5s forwards;
}

form label {
	padding-top: 10px;
	display: block;
	float: left;
	clear: left;
	width: 19em;
}

#search_input_area.little {
	float: right;
	width: 250px;
	font-size: .7em;
	text-align: right;
	padding: 11px;
	margin-top: 0;
}

#search_input_area.little #query {
	width: 160px;
}

#search_input_area {
	text-align: center;
}	

#search_input_area h2 {
	display: inline;
}

#search_input_area #query {
	padding: 6px;
	width: 500px;
	font-size: 1.4em;
	font-weight: 700;
}

#search_input_area .submit {
	padding: 6px;
	font-size: 1.4em;
	background-color: #8FC63F;
	border: 2px solid #689922;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.error {
	margin: 0;
	height: 50px;
	overflow: hidden;
}

.error div {
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	padding: 5px;
	background: #E81515;
	color: #FFF;
	text-align: center;
	font-size: 1.2em;
	font-weight: 700;
}

/************************/
/******** CONTENT *******/
/************************/

#content {
	padding: 30px;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 20px;
}

.categories {
	overflow: hidden;
	margin-top: 20px;
}

.categories h2 {
	padding: 20px;
}

.categories .category {
	width: 280px;
	float: left;
	margin: 0 10px;
	background: #EEE;
}

.categories .category h3 a {
	padding: 8px;
	border-bottom: 2px solid #8FC63F;
	display: block;
}

.categories .category p {
	padding: 1em 1em 0;
}

.categories .category ul {
	padding: 10px 0 15px 3em;
}

#popular_topics h2 {
	margin-top: 20px;
}

/************************/
/**** RESULTS MASHUP ****/
/************************/

#results_page {
}

#results_page h1 {
	text-align: left;
	margin-bottom: 5px;
	float: left;
	width: 50%;
	font-size: 2.2em;
	line-height: 50px;
}

.results {
	clear: both;
}

.results .alternate_level_nav {
	overflow: hidden;
	margin-top: 20px;
	padding-top: 4px;
}

.results .alternate_level_nav li {
	float: left;
	width: 33.3%;
	list-style: none;
}

.results .alternate_level_nav li a {
	padding: 6px 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	background: #E8F2D6;
	font-size: 1.3em;
	color: #444;
}

.results .alternate_level_nav li.first a {

}

.results .alternate_level_nav li a:hover,
.results .alternate_level_nav li a:focus,
.results .alternate_level_nav li.selected a {
	padding: 10px;
	margin-top: -4px;
	background: #8FC63F;
	color: #FFF;
}

.results .content {
	padding-top: 20px;
	overflow: hidden;
}

.results .column {
	width: 440px;
	margin-left: 20px;
	float: left;
}

.results .first_column { margin-left: 0; }

.results .result {
	background: #EEE;
	height: 150px;
	border: 1px dotted #000;
	margin: 0 0 20px;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

.results .result .read_more {
	position: absolute;
	z-index: 2;
	bottom: 7px;
	right: 7px;
	text-align: right;
	background: #8FC63F;
	color: #000;
	border: 2px solid #CCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-decoration: none;
	padding: 4px 5px;
	font-weight: 700;
}

.results .result h3:before {
	/* Gradient fade out */
	content: " ";
	position: absolute;
	width: 100%;
	height: 40px;
	pointer-events: none;
	bottom: 0;
	left: 0;
}

.results .type_text h3:before {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232, 242, 214,0)), color-stop(70%, rgb(232, 242, 214)));
}

.results .video_with_description h3:before {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 194, 197,0)), color-stop(70%, rgb(190, 194, 197)));
}

.results div.promoted /* up specificity */ {
	border: 2px solid #FFF708;
}

.results .result p {
	padding: .5em 0;
}

.results .result h3 {
	font-size: 1.4em;
	padding: .5em 0 0;
}

/* Result types */

.results .type_text {
	height: 150px; border-color: #8FC63F; background-color: #E8F2D6;
}
.results .type_video { height: 300px; border-color: #543E87; background-color: #BEC2C5; }
.results .type_link { height: 300px; border-color: #F37A22; background-color: #FBE4D6; }

.results .video_with_description {
	height: 492px;
}

/************************/
/** SINGLE RESULT PAGE **/
/************************/

#result_page h1 {
	text-align: left;
	margin-bottom: 5px;
}

/************************/
/** CATEGORY EXPLORER ***/
/************************/

#category_explore {
	overflow: hidden;
}


#top_level_categories {
	float: left;
	width: 180px;
}

#top_level_categories h2 {
	padding: 5px 0 7px 5px;
}

#top_level_categories ul {
	border-top: 1px solid #8FC63F;
	border-bottom: 1px solid #8FC63F;

}

#top_level_categories li {
	padding: 6px;
	border-top: 1px solid #8FC63F;
	border-bottom: 1px solid #8FC63F;
	background: #E8F2D6;
	list-style: none;
}

#category_explore #sub-categories {
	overflow: hidden;
	padding-left: 20px;
	margin-top: 0;
	float: left;
}

#category_explore #sub-categories h2 {
	padding: 5px 0 7px 10px;
}

#category_explore #sub-categories .categories .category {
	width: 210px;
}

#category_explore #search_input_area {
	clear: both;
	margin-top: 40px;
}
